body{
    background: linear-gradient(to right, #1f1c2c, #928dab);
    font-family: Arial, sans-serif;
}
.outer{
    width: 320px;
    background-color: #1c1c1c;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
.screen{
    height: 80px;
    overflow: hidden;
    border-radius: 12px;
    padding: 20px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #0f0;
    background-color: #000;
}
#nums{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}
.btn{
    height: 60px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.2s;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    background-color: #444;
}
.btn:active{
    transform: scale(0.95);
}
.op{
    background-color: #ff9500;
}
.op:hover{
    background-color: #ffa733;
}
.equal{
    background-color: #34c759;
    font-weight: bold;
}
.zero{
    grid-column: span 2;
}
.C{
    background-color: red;
}
.C:active{
    background-color: rgb(233, 27, 27);
}