body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.upper-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.68rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 1000;
    box-sizing: border-box;
}

.logo img{
    width: 7rem;
    height: auto;
    margin-left: 5rem;
}

.options{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.others{
    display: flex;
    gap: 1.5rem;
    margin-right: 5rem;
}


.buttons{
    display: flex;
    gap: 1rem;
}

.btn1{
    padding: 6px 16px;
    border-radius: 0.5rem;
    border: 1px solid #6674CC;
    color: #6674CC;
    text-decoration: none;
}

.btn2{
    padding: 8px 18px;
    border-radius: 0.5rem;
    background-color: #6674CC;
    color: white;
    text-decoration: none;
}

.courses{
    border: none;
    font-size: 1rem;
}

.others a{
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    justify-content: space-around;
    margin: 4rem;
    padding: 80px 0px;
}
.right-content img{
    width: 420px;
    height: 420px;
    border-radius: 50%;
}
.head1{
    font-size: 1.5rem;
}
.head2{
    font-size: 1.7rem;
    color: #6674CC;
}
.btn3{
    padding: 15px 30px;
    font-size: 18px;
    background-color: #364BC5;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 323px;
}
.btn3 a{
    text-decoration: none;
    color: #ffffff;
}
.left-content{
    margin-top: 2rem;
}

@media (max-width: 1000px) {

    .options{
        display: none;
    }
}